<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323066678035-6fptgqdine594iv7la94pf5i9064tgp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323066678035-6fptgqdine594iv7la94pf5i9064tgp5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>323066678035-7pktqkdi18qvthm8ngp0idhtll76c9ln.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMXIK1npFI7paK-JvdJ6ZDC-vaa5ydh8M</string>
	<key>GCM_SENDER_ID</key>
	<string>323066678035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.XamarinProject</string>
	<key>PROJECT_ID</key>
	<string>burrosingles</string>
	<key>STORAGE_BUCKET</key>
	<string>burrosingles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323066678035:ios:30858e13799dbc50daa8e6</string>
	<key>DATABASE_URL</key>
	<string>https://burrosingles.firebaseio.com</string>
</dict>
</plist>